.page {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  background-color: var( --color-neutral-very-dark);
}

.page__main {
  display: flex;
  align-items: center;
  max-width: 1158px;
  min-height: 100vh;
  margin-inline: auto;
  padding: 80px 24px;
}
